<div class="filter">
    <h1>Select a vehicle group</h1>
    <div class="categories">
      <div 
        [class.selected]="selectedCategory === ''" 
        (click)="filterCars('')">
        <a href="javascript:void(0)">All vehicles</a>
      </div>
      <div 
        *ngFor="let category of categories" 
        [class.selected]="selectedCategory === category" 
        (click)="filterCars(category)">
        <img [src]="'assets/icon/' + category.toLowerCase() + '.png'" alt="{{ category }}" />
        <p>{{ category }}</p>
      </div>
    </div>
  </div>
  
  <div class="car-list">
    <div class="car-card" *ngFor="let car of filteredCars">
      <div class="car-image">
        <img [src]="car.image" alt="{{ car.name }}" />
      </div>
      <h3>{{ car.name }}</h3>
      <p class="price">${{ car.price }} per day</p>
      <button class="view-details" (click)="goToRentCar(car.id)">View Details</button>
    </div>
  </div>
  