<div class="cars-home-page">
  <div class="header">
    <h1>Choose the car that<br>suits you</h1>
    <a href="/cars">View All &#x279C;</a>
  </div>

  <div class="car-list">
    <div class="car-card" *ngFor="let car of cars; let i = index">
      <div class="car-image">
        <img [src]="car.image" alt="{{ car.name }}" />
      </div>
      <h3>{{ car.name }}</h3>
      <p class="price">${{ car.price }} per day</p>
      <button class="view-details" (click)="goToRentCar(i)">View Details</button> <!-- Use index as the ID -->
    </div>
  </div>
</div>
<div class="banner">
<img src="assets/images/Banner.png" alt="">
</div>
